.content {
	

}
.card {
	
background: blue;
color: white;
text-align: center;
padding: 80px 20px;

}
.card img {
	width: 50%;
	height: 50%;
}

.employ {
background: black;
color: white;
text-align: center;
padding: 80px 20px;
}
